:root {
    --darkblue: rgb(0, 27, 67);
    --lightblue: rgb(97, 188, 230);
    ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background: white;
    color: var(--darkblue);
    padding: 2% 5%;
    font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    line-height: 1.4;
    margin: auto;
    width: 80%;
}

#title {
    display: inline;
}

img {
    height: 70px;
    width: auto;
    margin-left: 5rem;
}

#nav-bar {
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 1s;
    z-index: 997;
    background: var(--darkblue);
}

.nav-menu {
    float: right;
    margin-right: 5rem;
    /* position: relative; */
}

li {
    color: white;
    display: inline-block;
    padding: 1.5rem;
}

li:hover>a {
    color: var(--lightblue);
}

#about,
#registration,
#contact {
    margin-top: 30px;
    background-color: #eee;
}


/* about section */

.about_main-picture {
    background-image: url(Picture2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.about_main-text {
    background-image: url(BM18_text.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    background-color: rgba(0, 42, 73, 0.3)
}

.about_introduction {
    padding: 2rem 4rem;
    font-size: 15px;
}


/* responsive first section */

@media screen and (max-width: 800px) {
    * {
        padding: 0;
        font-size: 14px;
    }
    body {
        width: 100%;
    }
    ul {
        display: none;
    }
    #nav-bar {
        display: flex;
        justify-content: center;
    }
    img {
        margin: 0;
    }
    .about_main-picture {
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    .about_main-text {
        display: none;
    }
    .about_introduction {
        padding: 1rem;
    }
    .about_introduction-info {
        width: 100%
    }
}


/* registration section */

#registration {
    padding-bottom: 20px;
}

.registration_main-picture {
    background-image: url(IMG_7345.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

#registration_form {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 650px;
    min-height: 300px;
    margin: 0 auto;
    box-shadow: 0 10px 50px 0 #ccc;
    margin-bottom: 2rem;
}

#registration_form {
    display: none;
}

#show-form {
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 650px;
    height: 3rem;
    border: none;
    font-size: 20px;
    color: var(--darkblue);
    background-color: #eee;
    border-bottom: solid 1px rgb(41, 90, 128);
}

#show-form:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #registration_form,
    #show-form {
        width: 100%;
        font-size: 12px;
    }
    .registration_main-picture {
        background-size: cover;
        width: 100%;
        height: 200px;
    }
}

input,
#registration_submit {
    border: none;
    font-size: inherit;
    background: #eee;
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
}

input {
    margin-bottom: 1rem;
}

select {
    border: none;
    font-size: inherit;
    background: #eee;
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
}

select {
    margin-bottom: 1rem;
}

option {
    padding-bottom: 2rem;
}

#registration_submit {
    color: var(--darkblue);
    cursor: pointer;
    background-color: white;
    border: solid 1px var(--darkblue);
    border-radius: 10rem;
    width: 40%;
}

#registration_submit:hover {
    background-color: var(--darkblue);
    color: white
}

.is-hidden {
    display: none !important;
}

a {
    display: block;
    width: max-content;
    margin: 0 auto;
    color: var(--accent);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

.loading {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    width: 50px;
    height: 50px;
}

.loading-spinner svg {
    position: relative;
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
}

.loading-spinner circle {
    stroke: var(--accent);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

#contact {
    background-color: #eee;
    padding: 3rem;
    height: 20rem;
}

iframe {
    float: right;
}